@import "src/app/style/variables";

:host {
    background: $terminal-top-bar-color;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .close-button {
        border: none;
        background: $close-button-color;
        color: white;

        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;

        font-size: 18px;
        line-height: 0;
    }
}
