:host {
    white-space: normal;
}

$input-disabled-width: 800px;

.hiddenInput {
    position: fixed;
    left: -600px;
    overflow: hidden;
    width: 0;

    @media (orientation: portrait) and (max-width: $input-disabled-width) {
        input {
            display: none;
        }
    }
}

.visibleInput {
    position: relative;

    .cursor {
        position: absolute;
        top: 0;
        left: 0;
        animation: blink-animation 1.2s steps(2, start) infinite;

        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }

        &.inputActive {
            animation: none;
        }

        @media (orientation: portrait) and (min-width: $input-disabled-width) {
            &:not(.focus) {
                animation: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }
        }
    }
}
