@import "~src/app/style/variables";

.wrapper {
    height: 100%;
    display: grid;
    place-content: center;
}

.terminal {
    box-shadow: black 0 0 20px;
    width: $terminal-width;
    height: $terminal-height;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    white-space: pre;
}

