<div class="fixed-background">
    <picture>
        <source srcset="assets/ubuntu-wallpaper.webp" type="image/webp">
        <source srcset="assets/ubuntu-wallpaper.jpg" type="image/jpg">
        <img src="assets/ubuntu-wallpaper.jpg" alt="Ubuntu wallpaper">
    </picture>
</div>
<div class="wrapper">
    <div class="terminal" (mousedown)="$event.preventDefault(); focusInput()">
        <app-terminal-top-bar></app-terminal-top-bar>
        <app-terminal-body></app-terminal-body>
    </div>
</div>
