:host {
    display: block;
    color: white;
    font-family: 'Ubuntu Mono', monospace; // TODO get font from google fonts
    font-size: 13pt;
    letter-spacing: 0.34px;
    padding: 2px 4px;
}

.commandComponent {
    display: block;
}
