/*noinspection CssOverwrittenProperties*/
:host {
    display: block;
    padding: 1px;

    background-color: var(--terminal-body-color);
    border: 1px solid var(--terminal-border-color);

    height: var(--terminal-height) - var(--terminal-top-bar-height); /* older browsers*/
    height: calc(100% - var(--terminal-top-bar-height));
    overflow-x: hidden;
    overflow-y: scroll;
}
