@import "~src/app/style/variables";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.clr-green {
    font-weight: bold;
    color: $terminal-font-green;
}

.clr-blue {
    font-weight: bold;
    color: $terminal-font-blue;
}
