@import "~src/app/style/variables";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.clr-green {
    font-weight: bold;
    color: $terminal-font-green;
}

.clr-blue {
    font-weight: bold;
    color: $terminal-font-blue;
}

a {
    &, &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        color: inherit;
        text-decoration: underline;
    }

    &::before, &::after {
        content: '<';
        display: inline-block;
    }

    &::after {
        content: '>';
    }
}
