html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;

    // overflow: hidden;
}

.wrapper {
    height: 100%;
    display: grid;
    place-content: center;
}

.terminal {
    width: 740px;
    height: 470px;
    background: #300a24;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: black 0px 0px 20px;
}

.top-bar {
    background: #2c2c2c;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .close-button {
        border: none;
        background: #df4a16;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        color: white;
        font-size: 18px;
        line-height: 0;
    }
}

.terminal-body {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 13pt;
    padding: 2px 4px;
    letter-spacing: 0.34px;

    .cursor {
        animation: blink-animation 1.2s steps(2, start) infinite;
        -webkit-animation: blink-animation 1s steps(2, start) infinite;
    }
}

.clr-green {
    font-weight: bold;
    color: #4d9a06;
}

.clr-blue {
    font-weight: bold;
    color: #3464a2;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}