@import "~src/app/style/variables";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.terminal {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 13pt;
    letter-spacing: $letter-spacing;

    &, p, h1, h2, h3, h4, h5, h6, pre, label {
        font-size: 13pt;
    }

    h4, h5, h6 {
        font-weight: normal;
        margin-bottom: 0;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}

.clr-green {
    font-weight: bold;
    color: $terminal-font-green;
}

.clr-blue {
    font-weight: bold;
    color: $terminal-font-blue;
}

.links {
    color: #999;
}

noscript .links, .noscript .links {
    display: none;
}

a {
    &, &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        color: inherit;
        text-decoration: underline;
    }

    &::before, &::after {
        content: '<';
        display: inline-block;
    }

    &::after {
        content: '>';
    }
}

ul {
    list-style-type: none;
    margin: 0;

    &:not(.no-dashes) > li:before {
        content: '- ';
    }

    @media (max-width: 1200px) and (orientation: landscape),
    (max-width: 800px) and (orientation: portrait) {
        li {
            margin-bottom: 1rem;
        }
    }
}

table {
    &, tr, td, th, tbody {
        border: none !important;
        padding: 0;
        margin: 0;
    }


    &.row-line-breaks {
        tr:not(:last-child) {
            td, th {
                padding-bottom: 1em;
            }
        }
    }

    td, th {
        vertical-align: top;

        //noinspection CssOverwrittenProperties
        &:not(:last-child) {
            padding-right: 1ch;
            padding-right: calc(1ch + #{$letter-spacing});
        }
    }
}
