:root {
    --terminal-body-color: #300a24;
    --terminal-top-bar-color: #2c2c2c;
    --terminal-border-color: rgba(33, 33, 33, .925);
    --close-button-color: #df4a16;
    --terminal-font-green: #4d9a06;
    --terminal-font-blue: #3464a2;
    --letter-spacing: 0.34px;
    --terminal-width: 740px;
    --terminal-height: 470px;
    --terminal-top-bar-height: 30px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.terminal {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 13pt;
    letter-spacing: var(--letter-spacing);
}

p, h1, h2, h3, h4, h5, h6, pre, label {
    font-size: 13pt;
}

h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.clr-green {
    font-weight: bold;
    color: var(--terminal-font-green);
}

.clr-blue {
    font-weight: bold;
    color: var(--terminal-font-blue);
}

.links {
    color: #999;
}

noscript .links, .noscript .links {
    display: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: underline;
}

a::before, a::after {
    content: '<';
    display: inline-block;
}

a::after {
    content: '>';
}

ul {
    list-style-type: none;
    margin: 0;
}


ul:not(.no-dashes) > li:before {
    content: '- ';
}

@media (max-width: 1200px) and (orientation: landscape),
(max-width: 800px) and (orientation: portrait) {
    ul li {
        margin-bottom: 1rem;
    }
}

table, tr, td, th, tbody {
    border: none !important;
    padding: 0;
    margin: 0;
}


table.row-line-breaks tr:not(:last-child) td,
table.row-line-breaks tr:not(:last-child) th {
    padding-bottom: 1em;
}

table td,
table th {
    vertical-align: top;
}


/*noinspection CssOverwrittenProperties*/
table td:not(:last-child),
table th:not(:last-child) {
    padding-right: 1ch;
    padding-right: calc(1ch + var(--letter-spacing));
}
