:host {
    .focus {
        animation: blink-animation 1.2s steps(2, start) infinite;

        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
    }
}

:not(.focus) {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
